#header{
display: flex;
justify-content: space-between;
align-items:center;
background: linear-gradient(to bottom, #f97316, #facc15);
position: fixed;       /* Giữ cố định */
  top: 0;                /* Dính ở mép trên */
  left: 0;
  width: 100%;    
  z-index: 1000;
}

.logo,.cart{
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.search {
  position: relative;
}

.search input {
  border-radius:28px;
min-width: 400px;
 padding: 8px 35px 8px 10px; 
}

.search button {
 position: absolute;
 right: 10px;   
 margin-top: 8px;
 margin-left: 400px;
 background: transparent;
 border: none;
 cursor: pointer;
}

.link{
    display: flex;
    width: 20%;
justify-content: space-around;
align-items: center;
}
.cart{
    cursor: pointer;
}

.login,.sign-up a{
text-decoration: none;
color: rgb(228, 230, 232);
font-size: 16px;
}

.dowload{
    padding: 12px;
    background-color: #FF7D05;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}